<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../assets/shoes/s1.jpg">
        </div>
        <div class="des">
            <p>SEPATU OUTDOOR WATERPROOF</p>
            <p>Rp.145,00</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../assets/shoes/s2.jpg">
        </div>
        <div class="des">
            <p>SEPATU OUTDOOR WATERPROOF</p>
            <p>Rp.199,00</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../assets/shoes/s3.jpg">
        </div>
        <div class="des">
            <p>SEPATU OUTDOOR WATERPROOF</p>
            <p>Rp.150,00</p>
            <button>Add to Cart</button>
        </div>
    </div>
</div>