<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">Outdoor Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" routerLink="home">Home</a>
            </li>
            <a class="nav-link" routerLink="product">Product</a>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="jacket">Jacket</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="t-shirt">T-Shirt</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="shoes">Shoes</a>
            </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a *ngIf="!this.authService.isLogin" class="nav-link" routerLink="user/login">Login</a>
                <a *ngIf="this.authService.isLogin"  (click)="logout()" class="nav-link">Logout</a>
            </li>
                <li class="nav-item">
                <a *ngIf="!this.authService.isLogin" class="nav-link" routerLink="user/register">Register</a>
            </li>
        </ul>
    </div>
</nav>