<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../assets/jacket/j1.jpg">
        </div>
        <div class="des">
            <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
            <p>Rp.105,000</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../assets/jacket/j2.jpg">
        </div>
        <div class="des">
            <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
            <p>Rp.210,000</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../assets/jacket/j3.jpg">
        </div>
        <div class="des">
            <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
            <p>Rp.198,000</p>
            <button>Add to Cart</button>
        </div>
    </div>
</div>