
    <div class="main">
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
                <p>Rp.105,000</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
                <p>Rp.210,000</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>JAKET PRIA OUTDOOR WATERPROOF ORIGINAL</p>
                <p>Rp.198,000</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>SEPATU OUTDOOR WATERPROOF</p>
                <p>Rp.145,00</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>SEPATU OUTDOOR WATERPROOF</p>
                <p>Rp.199,00</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>SEPATU OUTDOOR WATERPROOF</p>
                <p>Rp.150,00</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>KAOS OUTDOOR </p>
                <p>Rp.145,00</p>
                <button>Add to Cart</button>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="">
            </div>
            <div class="des">
                <p>KAOS OUTDOOR </p>
                <p>Rp.130,00</p>
                <button>Add to Cart</button>
            </div>
        </div>
    </div>