<div class="main">
    <div class="card">
        <div class="image">
            <img src="../../assets/t-shirt/t1.jpg">
        </div>
        <div class="des">
            <p>KAOS OUTDOOR </p>
            <p>Rp.145,00</p>
            <button>Add to Cart</button>
        </div>
    </div>
    <div class="card">
        <div class="image">
            <img src="../../assets/t-shirt/t2.jpg">
        </div>
        <div class="des">
            <p>KAOS OUTDOOR </p>
            <p>Rp.130,00</p>
            <button>Add to Cart</button>
        </div>
    </div>
</div>